name: "Hello World Pipeline"
on: push
jobs:
  my-jobs:
    runs-on: ubuntu-latest
    steps:
     - name: my-step
       run: echo "Hello World!"
     - name: my-name
       run: echo "Harini"
       
